Native/Framework/source/Library.Desktop/obj/
Native/Framework/source/Library.Desktop/bin/
Native/Framework/lib/
Native/Framework/include/
Native/Framework/source/Tools/ModelPipeline/obj/
Native/Framework/source/Tools/ModelPipeline/bin/
Native/Framework/build/packages/
